.App {
  text-align: center;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 12px solid;
  border-color: #696e79 transparent #01c38d transparent;
  animation: rotate 0.75s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
