.sign-in {
  background: linear-gradient(58deg, #132d46, #01c38d, #696e79);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field {
  display: flex;
  width: 300px;
  justify-content: space-between;
  text-align: right;
  margin-bottom: 1em;
}

.input-field input,
select {
  border-radius: 6px;
  outline-width: 0;
  border: none;
}

.input-field input:focus,
select:focus {
  outline: #132d46 solid 3px;
}

.input-field select {
  width: 71%;
}

.button-group {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

@keyframes gradient {
  0% {
    background-position: 77% 0%;
  }
  50% {
    background-position: 24% 100%;
  }
  100% {
    background-position: 77% 0%;
  }
}
